.router-body{
    padding:0 20px 0 20px;
}
.container-sm {
  max-width: 540px !important;
}
.parentNav{
    background-color: #212529;
}
.myNav {
    display: flex;
    justify-content: space-between;
    max-width: 540px;
    margin: auto;
    height: 50px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    color:white;
}
textarea {
  min-height:200px !important;
}
.reply{
  min-height:70px !important;
}
.blog-display{
  border-bottom:1px solid lightgray;
}
.blog-display h5, p{
  margin:0 !important;
}
a:link, a:visited{
  text-decoration: none;
  color:inherit;
}
.link{
  padding:15px 0 15px 0;
}
.link:hover {
 background-color: whitesmoke;
}
.comment-display{
  padding:10px;
}
.error{
  color:red;
}
.logout{
  cursor: pointer;
}
.user-details{
    font-size:14px;
}
.image-preview{
    max-height:200px;
}
.profile-mini{
    max-height:30px;
    max-width:30px;
    margin-bottom:5px;
}
